<div class = "form-container">
        <div class="ui cards">
            <div class="card">
                <div class="content">
                    <div class="header">
                        GitFit
                    </div>
                    <div class="extra content">
                        <form class="ui form">
                            <div class="field">
                                <label>Email</label>
                                <input type="text" name="email" placeholder="Email" id="email-login">
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <input type="password" name="password" placeholder="Password" id="password-login">
                            </div>
                            <div class="ui two buttons">
                                <button class="ui basic green button" type="submit">Login</button>
                                <button class="ui basic red button" id="signup">Sign Up</button>
                            </div>
                    </div>
                </div>
            </div>
        </div>
    </div>    

<script src="/js/login.js"></script>