<div class="form-signup-container">
        <div class="content">
            <div>
                <h2>GitFit</h2>
            </div>
            <form class="ui large form">
                <div class="field">
                    <label>Name</label>
                    <input placeholder="name" type="text" id="name-signup">
                </div>
                <div class="two fields">
                    <div class="field">
                        <label>Email</label>
                        <input placeholder="email" type="text" id="email-signup">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input placeholder="password" type="password" id="password-signup">
                    </div>
                </div>
                <div class="field">
                    <label>Category:</label>
                        <select id="category">
                            <option value="" disabled selected>Select your option</option>
                            <option value=1>Body Building</option>
                            <option value=2>Power Lifting</option>
                            <option value=3>Hypertrophy Training</option>
                        </select>
                  </div>
                <div class="three fields">
                    <div class="field">
                        <label>Height (cm)</label>
                        <input placeholder="Height in cm!" type="number" id="height">
                    </div>
                    <div class="field">
                        <label>Weight (kg)</label>
                        <input placeholder="Weight in kilograms!" type="number" id="weight">
                    </div>
                    <div class="field">
                        <label>Age</label>
                        <input placeholder="Age" type="number" id="age">
                    </div>
                </div>
                <div class="field">
                    <label>Gender:</label>
                    <select id="gender">
                        <option value="" disabled selected>Select your option</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                </div>
                  
                    <button class="ui basic green button large" id="submit-form" type="submit">Sign Up</button>
                
            </form>
        </div>
    
</div>
<script src="/js/signup.js"></script>