<div class="form-signup-container">
    <div class="content">
        <button class="ui button">
            GitFit
        </button>
        <div class="ui large form">
            <div class="two fields">
                <div class="field">
                    <label>Email</label>
                    <input placeholder="email" type="text">
                </div>
                <div class="field">
                    <label>Password</label>
                    <input placeholder="password" type="text">
                </div>
            </div>
            <div class="field">
                <label>Category</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="Category">
                    <i class="dropdown icon"></i>
                    <div class="default text">Category</div>
                    <div class="menu">
                        <div class="item" data-value="1">Body Building</div>
                        <div class="item" data-value="0">Power Lifting</div>
                        <div class="item" data-value="2">Hypertrophy Training</div>
                    </div>
                </div>
            </div>
            <div class="two fields">
                <div class="field">
                    <label>Height</label>
                    <input placeholder="Height" type="text">
                </div>
                <div class="field">
                    <label>Weight</label>
                    <input placeholder="Weight" type="text">
                </div>
            </div>
            <div class="field ">
                <label>Gender</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="gender">
                    <i class="dropdown icon"></i>
                    <div class="default text">Gender</div>
                    <div class="menu">
                        <div class="item" data-value="1">Male</div>
                        <div class="item" data-value="0">Female</div>
                    </div>
                </div>
            </div>
        </div>
        <button class="ui basic red button">Sign Up</button>
    </div>

</div>
<script src="/js/signup.js"></script>