<div class="form-signup-container">
        <div class="content">
            <div>
                <h2>GitFit</h2>
            </div>
            <form class="ui large form">
                <div class="field">
                    <label>Category:</label>
                        <select id="category">
                            <option value="" disabled selected>Select your option</option>
                            <option value=1>Body Building</option>
                            <option value=2>Power Lifting</option>
                            <option value=3>Hypertrophy Training</option>
                        </select>
                  </div>
                <div class="two fields">
                    <div class="field">
                        <label>Height (cm)</label>
                        <input placeholder="Height in cm!" type="number" id="height" value={{userData.height}}>
                    </div>
                    <div class="field">
                        <label>Weight (kg)</label>
                        <input placeholder="Weight in kilograms!" type="number" id="weight" value={{userData.weight}}>
                    </div>
                    <div class="field">
                        <label>Age</label>
                        <input placeholder="Age" type="number" id="age" value={{userData.age}}>
                    </div>
                </div>
                  
                    <button class="ui basic green button large" type="submit">Update</button>
                
            </form>
        </div>
    
</div>
<script src="/js/update.js"></script>
