<div class="form-signup-container">
    <div class="content">
        <button class="ui button">
            GitFit
        </button>
        <div class="ui large form">
            <div class="field">
                <label>Category</label>
                <div class="ui selection dropdown">
                    <input type="hidden" name="Category">
                    <i class="dropdown icon"></i>
                    <div class="default text">Category</div>
                    <div class="menu">
                        <div class="item" data-value=1>Body Building</div>
                        <div class="item" data-value=2>Power Lifting</div>
                        <div class="item" data-value=3>Hypertrophy Training</div>
                    </div>
                </div>
            </div>
            <div class="three fields">
                <div class="field">
                    <label>Height</label>
                    <input placeholder="Height" type="number">
                </div>
                <div class="field">
                    <label>Weight</label>
                    <input placeholder="Weight" type="number">
                </div>
                <div class="field">
                    <label>Age</label>
                    <input placeholder="Age" type="number">
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/js/signup.js"></script>