*{margin:5px; padding: 5px;}
body{
    background-color: #272323;
    padding-top: 10vh;
}
.form-container{
    width: 345px;
    height: auto;
    padding: 20px 20px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000;
    margin: auto;
    
}
.form-signup-container{
    width: 800px;
    height: auto;
    padding: 20px 20px;
    background-color: #ffff;
    border-radius: 10px;
    box-shadow: 0 0 10px 0 #0000;
    margin: auto;
}

    

