<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    <!-- {{!-- Import semantic-UI Framework --}} -->

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">
    <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
    <link rel="stylesheet" href="../public/css/style.css">
    
    
    <title>Document</title>
</head>

<body>
    <nav>
        <div class="ui top medium fixed menu">
            <a class="header item">
            <h2>GitFit</h2>
            </a>
            <div class="right menu">
            
                <div class="item">
                    <div class="ui secondary button">Log in</div>
                </div>
            </div>
        </div>
    </nav>     

    <!-- <div class="ui form form-signup-container">
        <div class="ui form">
            <div class="field">
              <select>
                <option value="" hidden >Gender</option>
                <option value="1">Male</option>
                <option value="0">Female</option>
              </select>
            </div>
          </div>
    </div> -->



    <div class="form-signup-container">
        <div class="content">
            <div>
                <h2>GitFit</h2>
            </div>
            <div class="ui large form">
                <div class="two fields">
                    <div class="field">
                        <label>Email</label>
                        <input placeholder="email" type="text">
                    </div>
                    <div class="field">
                        <label>Password</label>
                        <input placeholder="password" type="password">
                    </div>
                </div>
                <div class="field">
                    <label>Category:</label>
                    <select>
                        <option value="" disabled selected>Select your option</option>
                      <option value="1">Body Building</option>
                      <option value="2">Power Lifting</option>
                      <option value="3">Hypertrophy Training</option>
                    </select>
                  </div>
                <div class="two fields">
                    <div class="field">
                        <label>Height</label>
                        <input placeholder="Height" type="text">
                    </div>
                    <div class="field">
                        <label>Weight</label>
                        <input placeholder="Weight" type="text">
                    </div>
                </div>
                <div class="field">
                    <label>Gender:</label>
                    <select>
                        <option value="" disabled selected>Select your option</option>
                      <option value="Male">Male</option>
                      <option value="Female">Female</option>
                    </select>
                </div>
                  <div>
                    <button class="ui basic green button large">Sign Up</button>
                </div>
            </div>
        </div>
    
    </div>
    <script src="/js/signup.js"></script>
    

<!-- <div class="form-signup-container">
            <div class="content">
                <button class="ui button">
                    GitFit
                </button>
                    <div class="ui large form">
                        <div class="two fields">
                            <div class="field">
                                <label>Email</label>
                                <input placeholder="email" type="text">
                            </div>
                            <div class="field">
                                <label>Password</label>
                                <input placeholder="password" type="text">
                            </div>
                        </div>
                            <div class="field">
                                <label>Category</label>
                                <div class="ui selection dropdown">
                                    <input type="hidden" name="Category">
                                    <i class="dropdown icon"></i>
                                    <div class="default text">Category</div>
                                    <div class="menu">
                                        <div class="item" data-value="1">Body Building</div>
                                        <div class="item" data-value="0">Power Lifting</div>
                                        <div class="item" data-value="2">Hypertrophy Training</div>
                                    </div>
                                </div>
                            </div>
                            <div class="two fields">
                            <div class="field">
                                <label>Height</label>
                                <input placeholder="Height" type="text">
                            </div>
                            <div class="field">
                                <label>Weight</label>
                                <input placeholder="Weight" type="text">
                            </div>
                            </div>
                   
                        <div class="field">
                            <label>Gender</label>
                            <div class="ui selection dropdown">
                                <input type="hidden" name="gender">
                                <i class="dropdown icon"></i>
                                <div class="default text">Gender</div>
                                <div class="menu">
                                    <div class="item" data-value="1">Male</div>
                                    <div class="item" data-value="0">Female</div>
                                </div>
                            </div>
                        </div>
                    
                        
                                <button class="ui basic red button">Sign Up</button>
                            </div>
                        
                    </div>
               
            </div>
</div>    -->
       
<!-- <div class="ui container medium">
    <table class="ui large celled table">
        <thead>
          <tr><th>WORKOUT</th>
          <th>SETS</th>
          <th>REPS</th>
          <th>RPE</th>
        </tr></thead>
        <tbody>
          <tr>
            <td data-label="WORKOUT">Deadlift</td>
            <td data-label="SETS">3</td>
            <td data-label="REPS">5</td>
            <td data-label="RPE">80%</td>
          </tr>
          <tr>
            <td data-label="WORKOUT">Deadlift</td>
            <td data-label="SETS">3</td>
            <td data-label="REPS">5</td>
            <td data-label="RPE">80%</td>
          </tr>
        </tbody>
      </table>
</div> -->

</body>

</html>